.bg-product li{
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 70px;
    width: 235px;
}
.bg-product{
}

.text-pro{
    float: left;
    padding-top: 120px;
    padding-right: 15px;
}
.text-pro p{
    font-family: LatoR;
    color: #7a6666 ;
    padding-top: 25px;
    font-size: 17px;
}
.text-pro h1{
    font-weight: 200;
    font-size: 22px;
    font-family: RammettoOne;
  color: #cb3362;
  text-transform: capitalize;
}
.bg-product li>p{
    text-align: center;
    color: #cb3362;
    font-weight: 400;
    font-family: LatoR;
    font-size: 17px;
}