body{
    background: url(../horoscope_bkgr.jpg);
}
.Koza{
    width: 450px;
    height: auto;
}
table{
    border-collapse: collapse;
    width: 1100px;
    height: auto;
}
table,th,tr{
    border: 1px solid white;
}